@import "base.css";

main {
    background-color: white;
    border-radius: 16px;
    padding: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

h1 {
    text-align: center;
}

.usuarios {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 1rem;
}

.usuario {
    background-color: #ffa122;
    border: 4px solid black;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.usuario > h3 {
    text-decoration: underline;
}