{% extends "base.html" %}
	{% block css_ext %}
	<link rel="stylesheet" href="/css/gestion_administracion.css">
	{% endblock %}
	{% block main %}
	<main>
		<h1>Administración</h1>
		<div class="gestion-usuarios">
			<h2>Gestión Usuarios</h2>
			<div class="gestion-usuarios-busqueda">

			</div>
			<div class="usuarios">
				{% for i_usuario in lista_usuarios %}
					<div class="usuario">
						<h3>{{ i_usuario.usuario }}</h3>
						<span>{{ i_usuario.permisos }}</span>

						<div class="cambiar-permisos">
							<h4>Cambiar Permisos</h4>
							<form action="administracion?usuario={{ i_usuario.usuario }}" method="POST">
								<label>Permisos:
									<select class="lista-permisos" name="nuevos_permisos">
										{% for permiso in lista_permisos %}
											<option value="{{ permiso }}">{{ permiso }}</option>
										{% endfor %}
									</select>
								</label>
								<input name="gestion_usuario" type="submit" value="Aplicar">
							</form>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</main>
	{% endblock %}
